{% extends 'base.html.twig' %}

{% block title %}Create New Book{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-body">
                        <h1 class="h3 mb-3 font-weight-normal text-center">Create New Book</h1>

                        {{ form_start(form, {'attr': {'class': 'form-signin'}}) }}
                            <div class="form-label-group mb-3">
                                {{ form_widget(form.title) }}
                                {{ form_label(form.title) }}
                            </div>

                            <div class="form-label-group mb-3">
                                {{ form_widget(form.isbn) }}
                                {{ form_label(form.isbn) }}
                            </div>

                            <div class="form-label-group mb-3">
                                {{ form_widget(form.author) }}
                                {{ form_label(form.author) }}
                            </div>

                            <button class="btn btn-lg btn-primary btn-block" type="submit">Create Book</button>
                        {{ form_end(form) }}

                        <div class="text-center mt-3">
                            <a href="{{ path('get_all_books') }}" class="text-primary">Back to list</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
