{% extends 'base.html.twig' %}

{% block title %}Book Details{% endblock %}

{% block body %}
    <div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-md">
        <h1 class="text-3xl font-semibold mb-6 text-gray-800">Book Details</h1>

        <div class="mb-6">
            <h2 class="text-2xl font-semibold text-gray-700 mb-2">{{ book.title }}</h2>
            <p class="text-gray-600 mb-1"><span class="font-semibold">ISBN:</span> {{ book.isbn }}</p>
            <p class="text-gray-600"><span class="font-semibold">Author:</span> {{ book.author.name }}</p>
        </div>

        <div class="flex space-x-4">
            <a href="{{ path('update_book', {'id': book.id}) }}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-300">Edit</a>
            <a href="{{ path('get_all_books') }}" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded transition duration-300">Back to list</a>
        </div>
    </div>
{% endblock %}
