<div {{ attributes }}>
    {{ form_start(form, {'attr': {'class': 'mt-8 space-y-6', 'novalidate': 'novalidate'}}) }}
        <div class="rounded-md shadow-sm -space-y-px">
            <div>
                {{ form_widget(form.title) }}
                {{ form_errors(form.title) }}
            </div>
            <div>
                {{ form_widget(form.isbn) }}
                {{ form_errors(form.isbn) }}
            </div>
            <div>
                {{ form_widget(form.author) }}
                {{ form_errors(form.author) }}
            </div>
        </div>

        <div>
            <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                {{ submitLabel }}
            </button>
        </div>
    {{ form_end(form) }}
</div>
